@charset "UTF-8";
:root {
    --black: #333333;
    --gray: #555555;
    --litegray: #d9d6d6;
    --litegray2: #767676;
    --litegray3: #eaeaea;
    --white: #fff;
    --blue: #246eb8;
    --red: #d33a2a;
    --purple: #9d3fe7;
    --green: #226b5f;
    --yellow: #f7b32b;
    --orange: #ff9600;
}

.hiddentag {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* INPUT */
/* INPUT END */

/* FILE */
/* FILE EMD */

/* BUTTON */
/* BUTTON END */

/* SELECT */
/* SELECT END */

/* CHECKBOX */
/* CHECKBOX END */

/* RADIOBOX */
/* RADIOBOX END */

/* ACTIVE */
/* ACTIVE END */

/* *SCROLL DOWN */
.scroll_down {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 110px;
    height: 110px;
    z-index: 21;
}

.scroll_down .scroll_txt {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.scroll_down .scroll_txt > .scroll_circle {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/scroll_down.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 5rem;
}

.scroll_down .scroll_txt > .scroll_logo {
    width: 36px;
    height: 41px;
    background-image: url(../img/scroll_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

@-webkit-keyframes roatecircle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes roatecircle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes roatecircle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes roatecircle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* *SCROLL DOWN END */
